@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p>MVC - Arquitetura de software que é separada em três camadas. View,Model e Controller.</p>
<p>Entity Framework - Conjunto de tec's que dão suporte ao desenvolvimento de aplicativos de software orientado a dados. </p>
<p>Bootstrap - Framework Front-End que facilita em criação de sites Responsivos.</p>
<p>SQL Server - Sistema gerenciador de banco de dados.</p>
<p>Padrão Repository - Isola a parte de manutenção de banco do projeto.</p>
<p>Validação CpfCnpj - refencia <a href="" target="_blank">https://www.youtube.com/watch?v=lXG38bejvzs</a> - Elemar Júnio</p>
