@{
    ViewBag.Title = "Projeto Kauy";
}

<div class="jumbotron">
    <h1>Kauy.Projeto</h1>
    <h2>Programador : </h2>
    <p>Front-End ;  HTML, JavaScript,  Css.</p>
    <p>Back-End ; C# , SQL Server.</p>
</div>

